html,body
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: rgb(226, 17, 17);
    color: white;
    text-align: center;
    padding: 15px;
}

header h1
{
    margin: 0;
}

.btn
{
    text-decoration: none;
    
    color:black;
    padding: 3px;
    border-radius: 20px;
    background-color: white;
}

.btn:hover
{
    
    background-color: whitesmoke;
}


.container
{
    padding: 16px;
    background-color: rgb(238, 238, 238);
}

section
{
    background-color:white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgb(46, 64, 99);
}

.last
{
    
}

h2
{
padding-bottom: 8px;
border-bottom: 2px solid crimson;
}

.bot
{
    text-align: center;
    color: white;
   background-color: crimson;
   position: fixed;
   bottom: 0 ;
   width: 100%;
}


.senha
{
    
}